section.section-footer.section-outer
	.section-inner
		.section-footer__logo Marketika
		ul.section-footer__nav
			li
				a(href="#") About Us
			li
				a(href="#", class="active") Services
			li
				a(href="#") FAQ
			li
				a(href="#") Blog
			li
				a(href="#") Contact Us
		.section-footer__copyright_and_links
			.section-footer__copyright_and_links-copyright Copyright © Sepra 2018 All Right Reserved
			.section-footer__copyright_and_links-links
				ul.helper-links
					li
						a(href="#") Privacy Policy
					li
						a(href="#") Terms Of Services
					li
						a(href="#") Security