section.section-header.section-outer
	.section-inner
		.section-header-logo Marketika
		.section-header-content
			.section-header-wrapper
				.section-header-wrapper__title We are here to help you out
				.section-header-wrapper__subtitle Very professional and highly customizable sketch template with lots of custom pages and useful features
				form(action="")
					.section-header-wrapper__form
						.section-header-wrapper__form-input
							input(type="text", placeholder="Your Name")
						.section-header-wrapper__form-input
							input(type="text", placeholder="Your Email")
						.section-header-wrapper__form-button
							button.btn-main Get Started