section.section-free.section-outer
	.section-inner
		.section-free__title It's free, Get started today
		.section-free__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint rerum laborum accusamus itaque, similique cum. Consectetur magni tempora delectus asperiores voluptate nulla nam accusamus dolor! Voluptates dolore eaque velit repellat.
		.section-free__button
			a(href="#", class="btn-free") Get Started