section.section-plans.section-outer
	.section-inner
		.section-plans__title Choose your suitable plans
		.section-plans__subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, alias. Aliquid quis, maxime, distinctio tempore illo voluptatem est aspernatur ipsam dolorum eveniet, architecto inventore.
		.section-plans__list
			.section-plans__list-item.active
				.section-plans__list-item_title Free
				.section-plans__list-item_price 
					span.prefix $0 
					span.postfix /mo
				.section-plans__list-item_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam veniam, voluptatem eum voluptate fuga harum, quo consectetur mollitia accusantium maiores aut. Beatae consectetur eaque nisi impedit. Ducimus neque ad odio?
				.section-plans__list-item_button 
					a(href="#", class="btn-main") Get Started
			.section-plans__list-item
				.section-plans__list-item_title Premium
				.section-plans__list-item_price 
					span.prefix $39 
					span.postfix /mo
				.section-plans__list-item_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptatibus minima error nulla recusandae quae, harum fuga facere vitae ipsa beatae facilis nam asperiores hic, animi molestiae. Possimus, optio voluptate.
				.section-plans__list-item_button
					a(href="#", class="btn-secondary") Get Started