section.section-promo.section-outer
	.section-inner
		.section-promo-1
			.section-promo-1__content
				.section-promo-1__content-title Grow up your business  with maketica maketing landing page
				.description-item
					.description-item__subtitle Increase your visitors
					.description-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam distinctio, omnis ducimus assumenda tenetur inventore vero quod quisquam quibusdam quasi quis sint fugit consequatur officia, illo itaque cum repudiandae.
				.description-item
					.description-item__subtitle Increase your visitors
					.description-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam distinctio, omnis ducimus assumenda tenetur inventore vero quod quisquam quibusdam quasi quis sint fugit consequatur officia, illo itaque cum repudiandae.
			.section-promo-1__video
				.section-promo-1__video-container
					.section-promo-1__video-container_play
		.section-promo-2
			.description-item
				.description-item__icon
					img(src="img/lamp.png", alt="")
				.description-item__subtitle Start your marketing
				.description-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam distinctio, omnis ducimus assumenda tenetur inventore vero quod quisquam quibusdam quasi quis sint fugit consequatur officia, illo itaque cum repudiandae.
			.description-item
				.description-item__icon
					img(src="img/lamp.png", alt="")
				.description-item__subtitle Start your marketing
				.description-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam distinctio, omnis ducimus assumenda tenetur inventore vero quod quisquam quibusdam quasi quis sint fugit consequatur officia, illo itaque cum repudiandae.
			.description-item
				.description-item__icon
					img(src="img/lamp.png", alt="")
				.description-item__subtitle Start your marketing
				.description-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam distinctio, omnis ducimus assumenda tenetur inventore vero quod quisquam quibusdam quasi quis sint fugit consequatur officia, illo itaque cum repudiandae.