section.section-founder.section-outer
	.section-inner
		.section-founder__img
			img(src="img/man.png", alt="")
		.section-founder__content
			.section-founder__content-text Content should be a journey. It should hit users at all the stages: awareness, consideration, and decision. If your content doesn't continue to inform and be relevant, users will get turned off. A pipeline is only as good as the quality and readiness of leads.
			.section-founder__content-name Andrew Bichel
			.section-founder__content-post Founder, Marketing